- { :notice => "check", :warning => "information", :error => "alert" }.each do |announcement, icon_class|
  - if flash[announcement]
    .flash-notifications
      .flash-notification{:class => "flash-#{announcement.to_s}"}
        = icon_tag(icon_class, ['flash-icon'])
        .flash-text
          = flash[announcement]
